<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>
  <br />
  <p>
    We don't believe in Privacy Policies because YOLO. 
    <br />
    Any information that you share on Flixter will be publicly available to the entire world.
    <br />
    Thanks for sharing!
    <br />
  </p>
</div>